apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: webapp
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head>
      <title>Student App</title>
    </head>
    <body>

    <h3>Add Student</h3>
    <input id="name" placeholder="Name"><br>
    <input id="age" type="number" placeholder="Age"><br>
    <input id="className" placeholder="Class"><br>
    <input id="roll" type="number" placeholder="Roll"><br>
    <input id="place" placeholder="Place"><br>
    <button onclick="save()">Save</button>

    <h3>Get Student</h3>
    <input id="search" placeholder="Name">
    <button onclick="getData()">Get</button>

    <pre id="out"></pre>

    <script>
      function save() {
        const name = document.getElementById('name').value.trim();
        const age = Number(document.getElementById('age').value);
        const className = document.getElementById('className').value.trim();
        const roll = Number(document.getElementById('roll').value);
        const place = document.getElementById('place').value.trim();

        // Frontend validation (IMPORTANT)
        if (!name || !className || !place || isNaN(age) || isNaN(roll)) {
          alert('Please fill all fields correctly');
          return;
        }

        fetch('/api/save', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            name: name,
            age: age,
            className: className,
            roll: roll,
            place: place
          })
        })
        .then(res => res.text())
        .then(alert)
        .catch(() => alert('error'));
      }

      function getData() {
        const name = document.getElementById('search').value.trim();
        if (!name) {
          alert('Enter name to search');
          return;
        }

        fetch('/api/get?name=' + name)
          .then(res => res.json())
          .then(data => {
            document.getElementById('out').innerText =
              JSON.stringify(data, null, 2);
          });
      }
    </script>

    </body>
    </html>

  nginx.conf: |
    server {
      listen 80;

      location / {
        root /usr/share/nginx/html;
        index index.html;
      }

      location /api/ {
        proxy_pass http://backend-service:3000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
      }
    }
